html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}


.bg{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}


.search-container button {
    padding: 8px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 25px;
    border: none;
    cursor: pointer;
  }

  input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 26px;
    box-sizing: border-box;
  }

  .search-container button:hover {
    background: #ccc;
  }

  .search-container {
    margin: auto;
    text-align: center;
    width:50%;
    padding-top: 15em;
    padding-bottom: 5em;
  }


  #restaurant-ul li:hover{
    background-color: brown;
    cursor: pointer;
  }

  #event-ul li:hover{
    background-color: brown;
    cursor: pointer;
  }

  #temperature{
    padding-left: 145px;
    padding-top: 130px;
  }

  .result-list{
    font-family: 'Allerta Stencil', sans-serif;
    display: inline-flex;
    background-color: rgba(0, 0, 0, 0.7);
    width: 33%;
    color: white;
    font-size: 1.5em;
    text-align: center;
    vertical-align:top;
    max-height: 400px;
  }

  .result-list ul{

    list-style-type: none;
    max-height: 400px;
    overflow-y: scroll;
  }

  .result-list li{

    margin: 1em 0;
  }

  .spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
  }
  
  .spinner > div {
    width: 18px;
    height: 18px;
    background-color: white;
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }

  #temp-div{
    height: 400px;
    text-align: center;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }